<div class="grid-section grid-section--events">
    <div class="grid-section-label d-block">Events</div>
    <div class="cards-row">
        {{> @card-event imageurl="https://assets.driessengroep.nl/sampledata/trendsinhr/image.png" longdate="Donderdag 8 juni 2020" shortdate="Do 8 juni '20" company="Ijk" }}
        {{> @card-event imageurl="https://assets.driessengroep.nl/sampledata/trendsinhr/image.png" longdate="Maandag 11 juni 2020" shortdate="Ma 11 juni '20" company="Driessen" }}
        {{> @card-event imageurl="https://assets.driessengroep.nl/sampledata/trendsinhr/image.png" longdate="Vrijdag 16 juni 2020" shortdate="Vr 16 juni '20" company="Driessen" }}
        {{> @card-event imageurl="https://assets.driessengroep.nl/sampledata/trendsinhr/image.png" longdate="Donderdag 8 juni 2020" shortdate="Do 8 juni '20" company="Ijk" }}
        {{> @card-event imageurl="https://assets.driessengroep.nl/sampledata/trendsinhr/image.png" longdate="Maandag 11 juni 2020" shortdate="Ma 11 juni '20" company="Driessen" }}
        {{> @card-event imageurl="https://assets.driessengroep.nl/sampledata/trendsinhr/image.png" longdate="Vrijdag 16 juni 2020" shortdate="Vr 16 juni '20" company="Driessen" }}
        {{> @card-event imageurl="https://assets.driessengroep.nl/sampledata/trendsinhr/image.png" longdate="Donderdag 8 juni 2020" shortdate="Do 8 juni '20" company="Ijk" }}
        {{> @card-event imageurl="https://assets.driessengroep.nl/sampledata/trendsinhr/image.png" longdate="Maandag 11 juni 2020" shortdate="Ma 11 juni '20" company="Driessen" }}
    </div>
    <div class="cards-row__navigator">
        <div class="cards-row__navigator-left"></div>
        <div class="cards-row__navigator-right active"></div>
    </div>
    <div class="more-link__wrapper">
        <div class="more-link more--events">Alle events</div>
    </div>
</div>