<div class="page--archives">
    <div class="page-header bg-color-bg pt-7 pt-lg-12">
        <div class="container">
            {{> @intro title="Dossiers" }}
        </div>
    </div>

    <div class="wave-bg grid-section grid-section--archives">
        <div class="container grid-section-label">Alle dossiers</div>
        <div class="container">
            <div class="cards-overview">
                {{> @card-archive }}
                {{> @card-archive }}
                {{> @card-archive }}
                {{> @card-archive }}
                {{> @card-archive }}
                {{> @card-archive }}
                {{> @card-archive }}
            </div>
        </div>
    </div>

</div>

