<div class="page--events">

    <div class="mb-12 mt-7">
    <div class="container grid-section-label d-md-block position-relative">jun'20</div>
    <div class="container event-container">
        <div class="list-overview">
            <div class="row">
                <div class="col-12 col-lg-8 col-xl-6 m-auto">
                    <div class="grid-overview">
                        {{> @card-event imageurl="https://assets.driessengroep.nl/sampledata/trendsinhr/image.png" longdate="Donderdag 8 juni 2020" shortdate="Do 8 juni '20" company="Ijk" }}
                        {{> @card-event imageurl="https://assets.driessengroep.nl/sampledata/trendsinhr/image.png" longdate="Maandag 11 juni 2020" shortdate="Ma 11 juni '20" company="Driessen" }}
                        {{> @card-event imageurl="https://assets.driessengroep.nl/sampledata/trendsinhr/image.png" longdate="Vrijdag 16 juni 2020" shortdate="Vr 16 juni '20" company="Driessen" }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container grid-section-label d-md-block position-relative">jul'20</div>
    <div class="container event-container">
        <div class="list-overview">
            <div class="row">
                <div class="col-12 col-lg-8 col-xl-6 m-auto">
                    <div class="grid-overview">
                        {{> @card-event imageurl="https://assets.driessengroep.nl/sampledata/trendsinhr/image.png"  longdate="Woensdag 7 juli 2020" shortdate="Wo 7 juli '20" company="Mensium" }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container grid-section-label d-md-block position-relative">aug'20</div>
    <div class="container event-container">
        <div class="list-overview">
            <div class="row">
                <div class="col-12 col-lg-8 col-xl-6 m-auto">
                    <div class="grid-overview">
                        {{> @card-event imageurl="https://assets.driessengroep.nl/sampledata/trendsinhr/image.png" longdate="Maandag 10 augustus 2020" shortdate="Do 8 augustus '20" company="Human Campus" }}
                        {{> @card-event imageurl="https://assets.driessengroep.nl/sampledata/trendsinhr/image.png" longdate="Woensdag 12 augustus 2020" shortdate="Wo 12 augustus '20" company="Driessen Groep" }}
                        {{> @card-event imageurl="https://assets.driessengroep.nl/sampledata/trendsinhr/image.png" longdate="Woensdag 26 augustus 2020" shortdate="Wo 26 augustus '20" company="Reijn" }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

</div>