<h1 class="overview">Badges</h1>

<h2 class="overview">Example</h2>
<h1>Example heading {{> @badge class="" color="color-01" label="color-01" }}</h1>
<h2>Example heading {{> @badge class="" color="color-02" label="color-02" }}</h2>
<h3>Example heading {{> @badge class="" color="color-03" label="color-03" }}</h3>
<h4>Example heading {{> @badge class="" color="color-04" label="color-04" }}</h4>

<h2 class="overview">Button badges</h2>
<button type="button" class="btn btn-color-01">
  Notifications {{> @badge class="" color="light" label="4" }}
</button>

<h2 class="overview">Contextual variations</h2>
{{> @badge class="" color="color-01" label="color-01" }}
{{> @badge class="" color="color-02" label="color-02" }}
{{> @badge class="" color="color-03" label="color-03" }}
{{> @badge class="" color="color-04" label="color-04" }}

<h2 class="overview">Pills / Tags</h2>
{{> @badge class="badge-pill" color="color-01" label="color-01" }}
{{> @badge class="badge-pill" color="color-02" label="color-02" }}
{{> @badge class="badge-pill" color="color-03" label="color-03" }}
{{> @badge class="badge-pill" color="color-04" label="color-04" }}

<h2 class="overview">Badges as links</h2>
<a href="#" class="badge badge-color-01">Primary</a>
<a href="#" class="badge badge-color-02">Secondary</a>
<a href="#" class="badge badge-color-03">Success</a>
<a href="#" class="badge badge-color-04">Danger</a>
