label, .html-wrap .nf-field-element {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  font-size: 18px;
  color: $color-01;
}

.nf-field-element {
  p, ul {
    font-family: $font-text;
    font-size: $font-size-base;
    line-height: $line-height-base;
    font-weight: $font-weight-regular;
  }
}

.form-control {
  font-family: $font-family-base;
  font-weight: 400;
  color: $color-text;
}

.custom-control-label {
  line-height: 1.8;
}

.fieldset--border {
  border: 1px solid $input-border-color;
  border-radius: $border-radius;
  padding: 15px;

}

.label-big {
  .custom-control {
    padding-left: 0;
  }
}

.label-big__label {
  width: 100%;
  padding: 0px 15px 0px 2rem;
  //padding: 15px 15px 15px 2rem;
  font-size: 1.125rem;
  line-height: 1.4;
  font-family: $font-family-base;
  font-weight: $font-weight-normal;

  &:before,
  &:after {
    left: 0 !important;
    //top: 19px !important;
  }
}

.label-big__label {
  &:before {
    background: white;
    border: 1px solid $color-bg;
  }

}

.label-big__description {
  font-family: $font-family-base;
  font-weight: $font-weight-regular;
  font-size: 21px;
  color: #444444;
}

.label-big__info {
  @include media-breakpoint-up(lg) {
    float: right;
  }
  font-size: 19px;
}

input:checked ~ .label-big__label {
  //background: #F4F0EC;
}

.form-messages {
  display: none;
}

.form-success,
.form-error {
  display: none;
}

input[type=file] {
  -webkit-appearance: none;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  padding: 0;
}

input[type=file] + label {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  font-family: $font-family-base;
  font-weight: $font-weight-base;
  margin: 0 20px 0 0;
}

input[type=file] + label + span {
  font-size: 18px;
  height: 48px;
  line-height: 48px;
  justify-content: center;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

input[type=file] + label * {
  pointer-events: none;
}

input[type=file]:focus + label,
input[type=file].has-focus + label {
}

.custom-control {
  padding-left: 0;
}

.custom-checkbox:hover,
.custom-radio:hover {
  cursor: pointer;

  .label-big__label:before {
    background: $color-borders;
  }
}


.page--form {

  input:required {
    position: relative;
    width: calc(100% - 30px);
    display: inline-block;
  }

  input:required + .requiredInput {
    display: inline-block;
    color: $color-text;
    margin-left: 1rem;
  }

  form input,
  form select,
  form textarea {
    margin-bottom: 1rem;
  }

  form label {
    position: relative;
    top: -.5rem;
    margin-bottom: 0rem;
  }

  form.submit-attempted {
    input:invalid {
      border: 1px solid red;
    }
  }
}

.page--whitepaper form {
  border-top: 1px solid $color-borders;
  margin-top: 3rem;
  padding-top: 3rem;
}


/* ninjaforms */
//form { font-weight: 500; }

input {
  &[type=search], &[type=submit], &[type=text], &[type=textarea] {
    -webkit-appearance: none;
  }
}

// =============================
// Textfield
// =============================
input {
  -webkit-appearance: none;
}

input[type=text],
input[type=email],
textarea,
select {
  font-family: $font-family-base;
  border: 1px solid $color-borders;
  border-radius: 3px;
  font-size: 16px;
  color: $color-text;
  line-height: 22px;
  padding: 9px 14px;
  //font-weight: $font-weight-regular;
  outline: none;
  background: #FFF;
  vertical-align: middle;

}

::-webkit-input-placeholder {
  color: #AEAEAE;
}

:-moz-placeholder { /* Firefox 18- */
  color: #AEAEAE;
}

::-moz-placeholder { /* Firefox 19+ */
  color: #AEAEAE;
}

:-ms-input-placeholder {
  color: #AEAEAE;
}

label {
  //font-weight: 400;
}


// =============================
// Radio
// =============================
[type="radio"] + label:before {
  content: '';
  display: inline-block;
  width: 20px;
  background: #FFF;
  height: 20px;
  margin: 0 10px 0 0;
  border-radius: 50%;
  border: 1px solid #E6E2CE;
  transition: 0.5s ease all;
  background-position: center;
  vertical-align: sub;

}

[type="radio"] {
  display: none;
}

[type="radio"] + label {

  text-indent: 0 !important;
}

[type="radio"]:checked + label:before {
  border-color: $themeColor-main;
  background: $themeColor-main url('../img/checkbox.svg') no-repeat center;
  border-color: var(--themecolor);
  background: var(--themecolor) url('../img/checkbox.svg') no-repeat center;
}

[type="radio"]:hover + label:hover:before {
  border-color: $color-borders;
}

[type="radio"]:hover + label {
  opacity: 0.8;
}

// =============================
// Select
// =============================
select {
  border: 0;
  border-radius: 5px;
  padding: 9px 40px 9px 10px;
  color: $color-text;
  font-size: 15px;
  float: left;
  max-width: 100%;
  border: 1px solid $color-borders;
  margin: 0 0 6px 7px;
  z-index: 1;
  position: relative;
  background: white url('../img/select.svg') no-repeat right;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  margin: 0;
  outline: none;
  cursor: pointer;
  //-webkit-appearance:none;

  &::-ms-expand {
    display: none;
  }
}

// =============================
// Checkbox
// =============================
[type="checkbox"] + label:before {
  content: ' ';
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 12px 0 0;
  border-radius: 3px;
  border: 1px solid $color-borders;
  transition: 0.5s ease all;
  background-position: center;
  vertical-align: sub;
}

[type="checkbox"] {
  display: none;
}

[type="checkbox"] + label {
  text-indent: 0 !important;
}

[type="checkbox"]:checked + label:before,
[type="checkbox"]:checked:hover + label:hover:before {
  border-color: $themeColor-main;
  background: $themeColor-main url('../img/vinkje.svg') no-repeat center;
  border-color: var(--themecolor);
  background: var(--themecolor) url('../img/vinkje.svg') no-repeat center;
}

[type="checkbox"]:hover + label:hover:before {
  border-color: $color-borders;
}

[type="checkbox"]:hover + label {
  opacity: 0.8;
}


// =============================
// Ninja Forms fix
// =============================
body .nf-field-container,
body #ninja_forms_required_items {
  margin-bottom: 8px;
}

body .field-wrap.label-left .ninja-forms-field,
body .field-wrap.label-left .ninja-forms-star-rating-control {
  margin-left: 0;
  width: 100%;
}

body .ninja-forms-req-symbol {
  color: $color-01;
}

body .ninja-forms-form-wrap label {
  //font-weight:500;
  font-size: 16px;
  color: $color-01;
  //font-weight: 500;
}

body .nf-form-fields-required {
  display: none;
}


body .label-left > label {
  display: inline-block !important;
  // width: 200px;
  position: absolute;
  left: 0;
  top: 0;

  //@include mobile {
  //  position:inherit;
  //  left:auto;
  //  top:auto;
  //}

}

// remove liststyle when using radio elements
article .nf-form-cont ul li:before {
  content: none;
  display: none;
}

body .checkbox-container.label-right {

  .nf-field-label label {
    color: $color-text;
    font-weight: $font-weight-regular;
  }

  .nf-field-element {
    display: none;
  }

  .nf-field-label {
    padding-left: 0;
  }

  .nf-field-label label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 12px 0 0;
    border-radius: 3px;
    border: 1px solid $color-borders;
    transition: 0.5s ease all;
    background-position: center;
    vertical-align: sub;

  }

  .nf-field-label.nf-checked-label label::before,
  label.nf-checked-label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 12px 0 0;
    border-radius: 3px;
    border: 1px solid $color-borders;
    transition: 0.5s ease all;
    background-position: center;
    vertical-align: sub;
    border-color: $themeColor-main;
    background: $themeColor-main url('../img/vinkje.svg') no-repeat center;
    border-color: var(--themecolor);
    background: var(--themecolor) url('../img/vinkje.svg') no-repeat center;
  }

  .nf-field-description {
    float: left;
    margin: 0 0 0 10px;
    width: initial;
  }
}


body .listcheckbox-container.label-hidden {
  .nf-field-element,
  .nf-field-description {
    display: inline-block;
    width: auto;
  }

  .nf-field-description {
    margin-left: 10px;
  }
}

body .ninja-forms-response-msg p:empty {
  display: none;
}

body.logged-in .field-wrap > div input {
  //display: block!important;
}

body .nf-error-msg {
  font-weight: $font-weight-regular;
  font-size: 14px;
  margin: 0;
  color: red;
  font-style: normal;
  width: 100%;
  float: left;
}

body .label-left .nf-field-label {
  text-align: left;
  //@include mobile {
  //  width:100%;
  //}
}

body .label-left .nf-field-element {
  //@include mobile {
  //  width:100%;
  //}
}

body .label-left .nf-after-field {
  //@include mobile {
  //  margin-left:0;
  //}
}

body .ninja-forms-error input[type=text],
body .ninja-forms-error textarea {
  border-color: red;
}

body .ninja-forms-error label,
body .ninja-forms-error .ninja-forms-req-symbol {
  color: red;
}

body .nf-error .ninja-forms-field {
  border-color: red;
}

body .ninja-forms-form-wrap select {
  height: 40px;
}

body .ninja-forms-response-msg {
  padding-right: 30px;

  //@include mobile {
  //  padding-right:0;
  //}
}

body .ninja-forms-response-msg.ninja-forms-error-msg p {
  border: 1px solid $color-borders;
  border-radius: 3px;
  font-size: 16px;
  color: #ffffff !important;
  line-height: 15px;
  padding: 10px 20px;
  font-weight: $font-weight-regular;
  margin-bottom: 30px;
  background: $color-01;
  border: 0;
  margin-bottom: 30px !important;
}

body .content .nf-form-cont {
  margin-right: -30px;
  margin-top: 25px;
  padding: 40px 25px 30px 0;
  border-top: 1px solid $color-borders;
  border-bottom: 1px solid $color-borders;

  //@include mobile {
  //  margin-right:0;
  //  padding-left: 0;
  //  padding-right: 0;
  //}

  .nf-desc {
    margin: 10px 0;
  }

  .textarea-wrap textarea {
    height: 100px;
  }

  p {
    &:first-child {
      color: inherit;
      font-size: inherit;
      line-height: inherit;
      font-style: normal;
      margin: 0;

      &::first-letter {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        line-height: inherit;
        float: inherit;
        word-wrap: inherit;
        margin: inherit;
        line-height: inherit;
        font-style: inherit;
        font-weight: inherit;
      }
    }

  }
}

body .ninja-forms-form-wrap .list-checkbox-wrap ul li,
body .ninja-forms-form-wrap .list-radio-wrap ul li {
  padding: 0 8px 0 0;
  width: 100%;
}

body .ninja-forms-form-wrap .list-checkbox-wrap ul label,
body .ninja-forms-form-wrap .list-radio-wrap ul label {
  font-weight: $font-weight-regular;
  font-size: inherit;
  color: inherit;
  text-indent: -9999px;

  label {
    text-indent: 0;
  }
}

body .nf-form-title {
  margin: 0 0 20px 0;
  display: inline-block;
  display: none;
}



.list-checkbox-wrap .nf-field-element li label, .list-image-wrap .nf-field-element li label, .list-radio-wrap .nf-field-element li label {
  margin-left: 0 !important;
}

body label {
  font-family: $font-text !important;
}

#event-viewer-subscribe-form input[type='submit'].btn-primary,
input[type='button'].ninja-forms-field {
  @extend .btn;
  @extend .btn-color-03;
  background-color: $themeColor-main;
  background-color: var(--themecolor);
}

#event-viewer-subscribe-form {
  h5 {
    margin-bottom: 0;
  }

  .form-check {
    padding-left: 0;
  }

  .form-check-label {
    font-weight: $font-weight-regular;
  }
}

#result {
  font-weight: $font-weight-medium;
  font-size: 1rem;
  padding-top: 1rem;
  display: none;
}

.form-tripolis__message--warning,
.form-tripolis__message--success {
  background-color: $color-bg;
  color: #7d7d7d;
  font-weight: $font-weight-medium;
  display: none;
}