<div class="wave-bg grid-section grid-section--columns pt-12">
    <div class="container grid-section-label">Columns</div>
    <div class="container">
        <div class="cards-overview">
            {{> @card-column themecolor="theme-bg-01" who="Jeroen Driessen" title="De grote column show" }}
            {{> @card-column themecolor="theme-bg-03" who="Jeff Schreiber" title="Verandermanagement" }}
            {{> @card-column themecolor="theme-bg-02" who="Tommy Seijkens" title="Het geheim van mijn code" }}
            {{> @card-column themecolor="theme-bg-04" who="Robin Stekelenburg" title="Ik geniet van thuiswerken" }}
        </div>
    </div>
    <div class="more-link__wrapper">
        <div class="more-link more--archives">Alle columns</div>
    </div>
</div>