<h1 class="overview">Spinners</h1>

<h2 class="overview">Spinners - Borders</h2>
{{> @spinner type="border" color="color-01" label="Loading..." }}
{{> @spinner type="border" color="color-02" label="Loading..." }}
{{> @spinner type="border" color="color-03" label="Loading..." }}
{{> @spinner type="border" color="color-04" label="Loading..." }}

<h2 class="overview">Spinners - Growing</h2>
{{> @spinner type="grow" color="color-01" label="Loading..." }}
{{> @spinner type="grow" color="color-02" label="Loading..." }}
{{> @spinner type="grow" color="color-03" label="Loading..." }}
{{> @spinner type="grow" color="color-04" label="Loading..." }}

<h2 class="overview">Spinners - inside buttons</h2>
<button class="btn btn-color-01" type="button" disabled="">
  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
  <span class="sr-only">Loading...</span>
</button>
<button class="btn btn-color-03" type="button" disabled="">
  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
  Loading...
</button>

