<div class="page--topics">
    <div class="page-header bg-color-bg pt-7 pt-lg-12">
        <div class="container">
            {{> @intro title="Werkgeluk" }}
        </div>
    </div>

    <div class="wave-bg grid-section grid-section--topics">
        <div class="container grid-section-label">Populair</div>
        <div class="container">
            <div class="cards-overview">
                {{> @card-topic }}
                {{> @card-topic }}
                {{> @card-topic }}
                {{> @card-topic }}
                {{> @card-topic }}
                {{> @card-topic }}
                {{> @card-topic }}
            </div>
        </div>
        <div class="more-link__wrapper">
            <div class="more-link  more--topics"><a href="#alpha-index">Alle thema's</a></div>
        </div>
    </div>
</div>

