# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep

!web/app/plugins/event_viewer_wordpress
!web/app/plugins/wp-media-folder
!web/app/plugins/ninja-forms-conditionals
!web/app/plugins/ninja-forms-style
!web/app/plugins/ninja-forms-uploads

# WordPress
web/wp
web/.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor

# WP-CLI
wp-cli.local.yml

.idea

node_modules
