<div class="card-item card-item--blank">
    <a class="card-item__content" href="#">
        <div class="card-item__description">
            <div class="labels">
                <span class="label card-item__label">Artikel</span>
                <span class="label card-item__label">21 apr '20</span>
            </div>
            <span class="card-item__title">Read me, please</span>
        </div>
    </a>
</div>