<div class="list-overview">
    <div class="row mt-7">
        <div class="col-12 col-lg-8 col-xl-6 m-auto">
            <div class="grid-overview">
                {{> @card-image imageurl="https://assets.driessengroep.nl/sampledata/trendsinhr/image.png" title="Dit is een faketitel"}}
                {{> @card-illustration themecolor="theme-bg-03"}}
                {{> @card-interview imageurl="https://assets.driessengroep.nl/sampledata/trendsinhr/interview.png" title="Jeroen Driessen" themecolor="theme-bg-01" }}
                {{> @card-column themecolor="theme-bg-02" who="Flip Jansen" title="Columns all about" }}
            </div>
        </div>
    </div>
    <div class="more-link__wrapper">
        <div class="more-link grid-overview__more">{{ moretext }}</div>
    </div>
</div>