<div class="list-overview list-overview--whitepapers">
    <div class="container grid-section-label">Whitepapers</div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 col-xl-6 m-auto">
                <div class="grid-overview">
                    {{> @card-whitepaper title="Dit is een voorbeeld van een veel te lange titel, speciaal voor mensen die per letter betaald krijgen" }}
                    {{> @card-whitepaper title="Motiveren" }}
                    {{> @card-whitepaper title="Het wordt een mooie dag" }}
                    {{> @card-whitepaper title="Motiveren" }}
                </div>
            </div>
        </div>
        <div class="more-link__wrapper">
            <div class="more-link grid-overview__more">Laad meer whitepapers</div>
        </div>
    </div>
</div>


