<div class="card-item card-item--topic">
    <a class="card-item__content" href="./topic.html">
        <div class="card-item__description">
            <div class="labels">
                <span class="label card-item__label">Thema</span>
            </div>
            <span class="card-item__title">Salaris</span>
        </div>
    </a>
</div>