<div class="container{{#if classes.length }} {{ classes }}{{/if }}">
    <div class="row">
        <div class="container-content">
            {{#if title.length }}
                <h1 class="display-2">{{ title }}</h1>
            {{/if }}
            <p{{#if lead }} class="lead"{{/if }}>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
                quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
            </p>
            {{#if titles }}
                <h2>Titel</h2>
            {{/if }}
            <p>Dit is een faketekst. Alles wat hier staat is slechts om een indruk te geven van het grafische
                effect van tekst op deze plek. Wat u hier leest is een voorbeeldtekst. Deze wordt later
                vervangen door de uiteindelijke tekst, die nu nog niet bekend is. De faketekst is dus een tekst
                die eigenlijk nergens over gaat.</p>
            {{#if titles }}
                <h2>Titel</h2>
            {{/if }}
            <p>Dit is een faketekst. Alles wat hier staat is slechts om een indruk te geven van het grafische
                effect van tekst op deze plek. Wat u hier leest is een voorbeeldtekst. Deze wordt later
                vervangen door de uiteindelijke tekst, die nu nog niet bekend is. De faketekst is dus een tekst
                die eigenlijk nergens over gaat.</p>
        </div>
    </div>
</div>

