<div class="row">
    <div class="container-content">
        <h2>Titel</h2>
        <p>Dit is een faketekst. Alles wat hier staat is slechts om een indruk te geven van het grafische
            effect van tekst op deze plek. Wat u hier leest is een voorbeeldtekst. Deze wordt later
            vervangen door de uiteindelijke tekst, die nu nog niet bekend is. De faketekst is dus een tekst
            die eigenlijk nergens over gaat.</p>
        <h2>Titel</h2>
        <p>Dit is een faketekst. Alles wat hier staat is slechts om een indruk te geven van het grafische
            effect van tekst op deze plek. Wat u hier leest is een voorbeeldtekst. Deze wordt later
            vervangen door de uiteindelijke tekst, die nu nog niet bekend is. De faketekst is dus een tekst
            die eigenlijk nergens over gaat.</p>
    </div>
</div>


