<div class="wave-bg grid-section grid-section--recommended pt-12">
    <div class="container grid-section-label">Aanbevolen</div>
    <div class="container">
        <div class="cards-overview">
            {{> @card-image imageurl="https://assets.driessengroep.nl/sampledata/trendsinhr/image.png" title="Dit is een faketitel"}}
            {{> @card-illustration themecolor="theme-bg-03"}}
            {{> @card-interview imageurl="https://assets.driessengroep.nl/sampledata/trendsinhr/interview.png" title="Jeroen Driessen" themecolor="theme-bg-01" }}
            {{> @card-column themecolor="theme-bg-02" who="Martijn Martino" title="What about columns" }}
        </div>
    </div>
    <div class="more-link__wrapper">
        <div class="more-link  more--recommended"><a href="#">Meer aanbevolen</a></div>
    </div>
</div>