<div class="row mb-3">
    <div class="container-content d-flex flex-row">
        <div class="labels">
            <div class="label">{{ type }}</div>
            {{> @label-date }}
            {{> @label-readingtime }}
        </div>
    </div>
</div>