<div class="card-item card-item--image">
    <a class="card-item__content" href="./article.html">
        <div class="card-item__background" style="background-image: url('{{ imageurl }}');"></div>
        <div class="card-item__description">
            <div class="labels">
                <span class="label card-item__label">Artikel</span>
                <span class="label card-item__label">17 juni '19</span>
            </div>
            <span class="card-item__title">{{ title }}</span>
        </div>
    </a>
</div>