<h1 class="overview">Tooltips</h1>

<h2 class="overview">Tooltip examples for buttons</h2>
{{> @tooltip color="color-04" label="Helptext to get you there..." text="Click this button" placement="bottom" }}
{{> @tooltip color="color-03" label="What do you want to know?" text="Click me if you dare" placement="right" }}


<h2 class="overview">Tooltip on other tags</h2>

<a href="#" data-toggle="tooltip" data-placement="right" title="Just click and see what happens..">Just a tooltip for this anchor text</a>
<div class="mt-5 p-10 h-25 w-25 bg-color-01 d-flex justify-content-center" data-toggle="tooltip" data-placement="bottom" title="Isn't this just magic?"><h2 class="text-center align-self-center text-white">A div with a tooltip!</h2></div>


