<div class="wave-bg grid-section grid-section--whitepapers pt-12">
    <div class="container grid-section-label">Whitepapers</div>
    <div class="container">
        <div class="cards-overview">
            {{> @card-whitepaper title="Het wordt een mooie dag" }}
            {{> @card-whitepaper title="Motiveren" }}
            {{> @card-whitepaper title="Het wordt een mooie dag" }}
            {{> @card-whitepaper title="Motiveren" }}
        </div>
    </div>
    <div class="more-link__wrapper">
        <div class="more-link more--archives">Alle whitepapers</div>
    </div>
</div>