{{> @colors }}
{{> @typography }}

{{> @alerts }}
{{> @badges }}
{{> @buttons }}
{{> @buttons_group }}
{{> @breadcrumbs }}
{{> @cards }}
{{> @carousels }}
{{> @collapses }}
{{> @dropdowns }}
{{> @forms }}
{{> @inputs_group }}
{{> @jumbotrons }}
{{> @lists_group }}
{{> @media_objects }}
{{> @modals }}
{{> @navs }}
{{> @navsbar }}
{{> @paginations }}
{{> @popovers }}
{{> @progress_bars }}
{{> @scrollspy_demo }}
{{> @spinners }}
{{> @toasts }}
{{> @tooltips }}

<div class="mt-5"></div>

