<div class="page--archive">
    <div class="container grid-section-label d-none d-md-block">Artikelen</div>
    <div class="container mt-7">
        <div class="grid-overview">
            {{> @card-image imageurl="https://assets.driessengroep.nl/sampledata/trendsinhr/image.png" title="Dit is een faketitel"}}
            {{> @card-illustration themecolor="theme-bg-03"}}
            {{> @card-interview imageurl="https://assets.driessengroep.nl/sampledata/trendsinhr/interview.png" title="Jeroen Driessen" themecolor="theme-bg-01" }}
            {{> @card-column themecolor="theme-bg-02" who="Flip Jansen" title="Columns all about" }}
            {{> @card-blank}}
            {{> @card-column themecolor="theme-bg-03" who="Alfred J. Neumann" title="Ik vind het ongelooflijk lastig om in een korte titel samen te vatten wat ik eigenlijk wil zeggen" }}
            {{> @card-image imageurl="https://assets.driessengroep.nl/sampledata/trendsinhr/theimage.jpg"  title="Ondernemen in coronatijd"}}
            {{> @card-interview imageurl="https://assets.driessengroep.nl/sampledata/trendsinhr/interview.png" title="John Deo" themecolor="theme-bg-04" }}
        </div>
    </div>
    <div class="more-link__wrapper">
        <div class="more-link grid-overview__more">Laad meer artikelen</div>
    </div>
</div>
