<div class="footer-nav">
    <div class="container">
        <div class="col border-top"></div>
        <div class="row py-11">
            <div class="d-none d-xl-block col-4 footer-nav__about">
                <div class="footer-nav__title">Trends in HR</div>
                <p>In de overheid, het onderwijs, zorg & welzijn en cultuur volgen de ontwikkelingen elkaar snel op.
                    Alles bijhouden is praktisch onmogelijk. Publiek Perspectief houdt u op de hoogte van de laatste
                    ontwikkelingen op het gebied van HRM, management en salarisadministratie in de publieke sector.</p>
            </div>
            <div class="d-none d-lg-block col-lg-4 col-xl-2 offset-xl-1 footer-nav__quicklinks">
                <div class="footer-nav__title">Snel naar</div>
                <a href="#">Thema's</a>
                <a href="#">Dossier</a>
                <a href="#">Agenda</a>
            </div>
            <div class="d-none d-lg-block col-lg-4 col-xl-2 footer-nav__subscribe">
                <div class="footer-nav__title">Abonneren</div>
                <a href="#">Nieuwsbrief</a>
            </div>
            <div class="col-12 col-lg-4 col-xl-3 text-center text-lg-left footer-nav__social">
                <div class="footer-nav__title">Volg ons</div>
                <ul class="nav d-flex justify-content-center justify-content-lg-start">
                    <li class="nav-item">
                        <a href="https://www.facebook.com/DriessenGroep" class="nav-link"></a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.instagram.com/driessengroep/" class="nav-link"></a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.linkedin.com/company/DriessenGroep" class="nav-link"></a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.youtube.com/channel/UCsgvGY_5rUribu4ESFCY-dQ" class="nav-link"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>