<div class="card-item card-item--event">
    <a class="card-item__content" href="#">
        <div class="card-item__background" style="background-image: url('{{ imageurl }}');"></div>
        <div class="card-item__description">
            <div class="labels">
                <span class="label card-item__label card-item__label--longdate">{{ longdate }}</span>
                <span class="label card-item__label card-item__label--shortdate">{{ shortdate }}</span>
                <span class="label card-item__label card-item__label--company">{{ company }}</span>
            </div>
            <span class="card-item__title">Vandaag wordt een mooie dag</span>
        </div>
    </a>
</div>