<div class="article">
    <div class="container mt-7 mt-lg-12">
        {{> @description-extended type="Video" }}
        {{> @intro title="IJK in beeld" }}
        {{#> @article-media }}
            {{> @content-article-video }}
        {{/ @article-media }}
        {{> @content-text }}
        {{> @meta-author }}
    </div>
</div>
