<div class="wave-bg grid-section grid-section--archives pt-12">
    <div class="container grid-section-label">Dossiers</div>
    <div class="container">
        <div class="cards-overview">
            {{> @card-archive }}
            {{> @card-archive }}
            {{> @card-archive }}
            {{> @card-archive }}
        </div>
    </div>
    <div class="more-link__wrapper">
        <div class="more-link more--archives">Alle dossiers</div>
    </div>
</div>