<div class="grid-section grid-section--news mt-md-7">
    <div class="container grid-section-label d-none d-md-block">Nieuws</div>
    <div class="container">
        <div class="grid-overview">
            {{> @card-image imageurl="https://assets.driessengroep.nl/sampledata/trendsinhr/image.png" title="Dit is een faketitel"}}
            {{> @card-whitepaper title="Arbeidsvoorwaaarden" }}
            {{> @card-illustration themecolor="theme-bg-03"}}
            {{> @card-interview imageurl="https://assets.driessengroep.nl/sampledata/trendsinhr/interview.png" title="Jeroen Driessen" themecolor="theme-bg-01" }}
            {{> @card-column themecolor="theme-bg-02" who="Martijn Martino" title="What about columns" }}
            {{> @card-blank}}
            {{> @card-interview imageurl="https://assets.driessengroep.nl/sampledata/trendsinhr/interview2.jpg" title="Inge Fiers - van Rijsingen" themecolor="theme-bg-02" }}
            {{> @card-blank}}
            {{> @card-column themecolor="theme-bg-01" who="Flip Jansen" title="Read my column" }}
            {{> @card-image imageurl="https://assets.driessengroep.nl/sampledata/trendsinhr/theimage.jpg" title="Ondernemen in coronatijd"}}
            {{> @card-interview imageurl="https://assets.driessengroep.nl/sampledata/trendsinhr/interview.png" title="John Deo" themecolor="theme-bg-01" }}
            <!-- banner card #12 -->
            {{> @card-banner}}
        </div>
    </div>
    <div class="more-link__wrapper">
        <div class="more-link grid-overview__more">Laad meer artikelen</div>
    </div>
</div>


