<div class="page-header page-header--column theme-bg-03">
    <div class="container d-flex flex-column justify-content-end h-100 page-header__authorimage" style="background-image: url('https://assets.driessengroep.nl/sampledata/trendsinhr/trendsauthor.png');">
        <div class="row">
            <div class="container-content align-self-end">
                <div>
                    <div class="labels">
                        <div class="label">Column</div>
                        <div class="label">Jeroen Driessen</div>
                        <div class="label">
                            <div class="label__reading-time">20 min</div>
                        </div>
                    </div>
                    <h1 class="display-2">Ben jij klaar om op reis te gaan?</h1>
                </div>
            </div>
        </div>
    </div>
</div>