<div id="alpha-index">
    <div class="container grid-section-label d-none d-md-block">Alle thema's</div>
    <div class="container mb-12">
        <div class="row">
            <div class="container-content">
                <div class="alpha-index">
                    <ul>
                        <li>A</li>
                        <li>
                            <ul>
                                <li><a href="#">Arbeidsmarkt</a></li>
                                <li><a href="#">Arbeidsvoorwaarden</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul>
                        <li>B</li>
                        <li>
                            <ul>
                                <li><a href="#">Beoordelen en evaluatie</a></li>
                                <li><a href="#">Belastingen</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul>
                        <li>C</li>
                        <li>
                            <ul>
                                <li><a href="#">CAO</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul>
                        <li>D</li>
                        <li>
                            <ul>
                                <li><a href="#">Duurzame inzetbaarheid</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul>
                        <li>E</li>
                        <li>
                            <ul>
                                <li><a href="#">e-HRM</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul>
                        <li>F</li>
                        <li>
                            <ul>
                                <li><a href="#">Financiën</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul>
                        <li>G</li>
                        <li>
                            <ul>
                                <li><a href="#">Goed Bekend</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul>
                        <li>I</li>
                        <li>
                            <ul>
                                <li><a href="#">Innovatie</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul>
                        <li>M</li>
                        <li>
                            <ul>
                                <li><a href="#">Mobiliteit</a></li>
                                <li><a href="#">Motivatie</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul>
                        <li>V</li>
                        <li>
                            <ul>
                                <li><a href="#">Verlof</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul>
                        <li>Z</li>
                        <li>
                            <ul>
                                <li><a href="#">ZZP Regelgeving</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>