<div id="cvUpload">
  <input id="uploadbutton" type="file" data-val="true" data-val-required="Select a file..."
         class="uploadbutton valid" name="upload" title="Upload a document..." aria-required="true"
         aria-invalid="false" aria-describedby="uploadbutton-error">
  <label for="uploadbutton"
         class="shadow px-3 py-2 rounded text-white bg-color-01">Upload</label><span>&nbsp;</span>
</div>
