<div class="row">
    <div class="container-content">
        <h1 class="display-2">{{ title }}</h1>
        <p class="lead">
            Als werk en privé niet in balans zijn, dan vergroot dat volgens 90 procent van de werknemers de
            kans op een burn-out. Tegelijk gaat maar 32 procent van de werknemers het gesprek aan met de
            werkgever bij een onevenwichtige werk-privébalans.
        </p>
    </div>
</div>