<div class="page page--archive">
    {{> @header-top }}
    {{> @nav-main }}
    <div class="container mt-7 mt-lg-12">
        {{> @description type="Dossier" }}
        {{> @lead title="Persoonlijke ontwikkeling" }}
    </div>
    {{> @template-archives-grid }}
    {{> @template-archives-cards }}
    {{> @footer-total }}
</div>
