<div class="page page--events">
    {{> @header-top }}
    {{> @nav-main }}
    <div class="container mt-7 mt-lg-12">
        {{> @lead title="Agenda" }}
    </div>
    {{> @template-events-grid }}
    {{> @footer-total }}
</div>
