<div class="page page--event">
    {{> @header-top }}
    {{> @nav-main }}
    {{> @hero-event }}
    {{> @content-page-text lead=true titles=true classes="my-7" }}
    {{> @template-columns-cards }}
    {{> @footer-total }}
</div>
