<div class="page page--home">
    {{> @header-top }}
    {{> @nav-main }}
    {{> @template-home-grid }}
    {{> @template-events-scroll-list }}
    {{> @template-archives-cards }}
    {{> @template-topics-cards }}
    {{> @footer-total }}
</div>