<div class="page page--whitepaper">
    {{> @header-top }}
    {{> @nav-main }}
    {{> @hero-whitepaper }}
    {{> @content-page-text lead=true titles=true classes="my-7" }}
    {{> @template-whitepapers-cards }}
    {{> @footer-total }}
</div>

