<div class="page page--whitepapers">
    {{> @header-top }}
    {{> @nav-main }}

    <div class="container mt-7 mt-lg-12">
        {{> @description type="Uitgave" }}
        {{> @intro title="Whitepapers" }}
    </div>

    {{> @template-whitepapers-list }}
    {{> @footer-total }}
</div>
