<h1 class="overview">Jumbotron</h1>


<div class="jumbotron bg-color-01 text-center">
  <h1 class="display-4 text-white">Hello, world!</h1>
  <p class="lead text-white">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p class="text-white">It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-color-03 btn-lg" href="#" role="button">Learn more</a>
</div>

<div class="jumbotron bg-color-03 text-left">
  <h1 class="display-4 text-white">Another Jumbotron</h1>
  <p class="lead text-white">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
</div>
