<div class="card">
  <div class="card-img-top bg-color-01 w-100 d-flex justify-content-center" style="width: 100%; height: 180px;">
    <div class="h1 text-white align-self-center p-0 m-0">Some card text</div>
  </div>
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-color-01">Go somewhere</a>
  </div>
</div>
