<div class="custom-control custom-checkbox">
  <input type="checkbox" id="check1" name="checkboxexample" value="Checkbox example" class="custom-control-input">
  <label class="custom-control-label" for="check1">
    Custom checkbox example
  </label>
</div>
