<div class="form-group">
  <label for="textarea">Textarea</label>
  <textarea class="form-control" id="textarea" name="example" rows="8" placeholder="Input some text and use multiple lines..." ></textarea>
</div>
