<div class="label">
    <div class="label__day">21</div>
    <div class="label__month-short d-inline-block d-md-none">feb</div>
    <div class="label__month-long d-none d-md-inline-block">februari</div>
    <div class="label__year">'20</div>
</div>