
<h1 class="overview">Dropdown</h1>

<h2 class="overview">Simple Dropdown examples</h2>
{{> @dropdown color="color-01" label="Dropdown split menu on button" }}
{{> @dropdown color="color-02" label="Another" }}
{{> @dropdown color="color-03" label="Items to select" }}
