<h1 class="overview">Cards</h1>

<h2 class="overview">Different card styles</h2>
<div class="d-flex justify-content-between">

  <div class="card mr-3">
    <div class="card-img-top bg-color-01 w-100 d-flex justify-content-center" style="width: 100%; height: 180px;">
      <div class="h1 text-white align-self-center p-0 m-0">Some card text</div>
    </div>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <a href="#" class="btn btn-color-01">Go somewhere</a>
    </div>
  </div>

  <div class="card mr-3">
    <div class="card-img-top bg-color-02 w-100 d-flex justify-content-center" style="width: 100%; height: 180px;">
      <div class="h1 text-white align-self-center p-0 m-0">Some card text</div>
    </div>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
    </div>
  </div>

  <div class="card mr-3">
    <div class="card-img-top bg-color-03 w-100 d-flex justify-content-center" style="width: 100%; height: 180px;">
      <div class="h1 text-white align-self-center p-0 m-0">Some card text</div>
    </div>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <a href="#" class="btn btn-color-03">Go somewhere</a>
    </div>
  </div>

</div>

<h2 class="overview">Simple card text</h2>
<div class="d-flex justify-content-start">
  <div class="card mr-3">
    <div class="card-body">
      This is some text within a card body.
    </div>
  </div>
  <div class="card mr-3">
    <div class="card-body">
      This is some text within a card body.
    </div>
  </div>
  <div class="card mr-3">
    <div class="card-body">
      This is some text within a card body.
    </div>
  </div>
</div>

<h2 class="overview">Titles, text, and links</h2>
<div class="d-flex justify-content-start">
  <div class="card mr-3" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
  <div class="card mr-3" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
  <div class="card mr-3" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
</div>

<h2 class="overview">Images</h2>
<div class="d-flex justify-content-start">
  <div class="card mr-3" style="width: 18rem;">
    <div class="card-img-top" style="width: 100%; height: 180px; background: url('https://placeimg.com/640/480/people'); background-size: cover;"></div>
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
    </div>
  </div>
  <div class="card mr-3" style="width: 18rem;">
    <div class="card-img-top" style="width: 100%; height: 180px; background: url('https://placeimg.com/640/480/nature'); background-size: cover;"></div>
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
    </div>
  </div>
  <div class="card mr-3" style="width: 18rem;">
    <div class="card-img-top" style="width: 100%; height: 180px; background: url('https://placeimg.com/640/480/arch'); background-size: cover;"></div>
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
    </div>
  </div>
</div>

<h2 class="overview">Misc Card examples</h2>
<div class="d-flex justify-content-start">
  <div class="card mr-3" style="width: 18rem;">
    <div class="card-header">
      Featured
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
  </div>
  <div class="card mr-3">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-color-02">Go somewhere</a>
    </div>
  </div>
  <div class="card mr-3">
    <div class="card-header">
      Quote
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
      </blockquote>
    </div>
  </div>
</div>
