<div class="card-item card-item--interview">
    <a class="card-item__content" href="./podcast.html">
        <div class="card-item__background {{ themecolor }}" style="background-image: url('{{ imageurl }}');"></div>
        <div class="card-item__description">
            <div class="labels">
                <span class="label card-item__label">Interview</span>
            </div>
            <span class="card-item__title">{{ title }}</span>
        </div>
    </a>
</div>